.cls1{
    background-color: aquamarine;
    padding: 20px;
    border: 10px double red;
    margin: 20px;
    border-top-left-radius:50px ;
}
.cls1 button{
    padding: 10px;
    border-radius:50px ;
    border: 10px double red ;
}
.cls2{
    background-color: rgb(24, 155, 179);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-top: 20px;
    margin-top: 30px;
    margin: 10px;
    border-radius: 50px;
    border-left: 10px double rgb(15, 15, 15);


}
.cls2 button{
    padding: 10px;
     border-radius:50px ;
    border: 10px double red ;


}
.box{
    background-color: brown;
    height: 200px;
    width: 200px;
    box-shadow: 5px 5px 10px 5px greenyellow;
}
