.cards{
    display: flex;
    justify-content: space-around;
}
.cards div{
   /* border: 5px double red;*/
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 9px 1px gray;
    

}
.cards div img{
    border-radius: 20px;
}