   @media screen and (min-width: 550px) and (max-width:850px) {
    body{
        background-color: brown;
    }
    
}
/*@media screen and (min-width: 550px)  {
    body{
        background-color: rgb(27, 66, 196);
    } 
 } */

 /* @media screen and (min-width: 550px) and (max-width:850px) {
    body{
        background-color: brown;
    }
} 