.navbar{
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar ul{
    display: flex;
    gap: 30px;
    list-style: none;

}
.navbar label {
    display:none;
}
#click{
    display: none;
}
#click:checked~.navbar ul{
    display: block;
}
@media screen and (max-width:650px){
    .navbar label {
        display: block;
    }
    .navbar ul{
        display: none;
        position: absolute;
        top: 80px;
        width:100% ; 
        background-color: aqua;
    }
    .navbar ul li {
        padding:10px;
    }
}