.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(233, 39, 39);
    align-items: center;
}
.navbar ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
.navbar button{
    background-color: brown;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 50px;
}
.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: wheat;
    padding-top: 10px;
}
.hero button{
   background-color: brown;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 50px;  
}
.hero img{
    border-radius: 300px;
}
.hero2{
    display: flex;
    justify-content: space-evenly;
    background-color: wheat;
    padding-top: 80px;
    padding-bottom: 50px;
    color: blue;
}
.hero3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    background-color: rgb(226, 153, 153);
}
.hero3 img {
    width: 500px;
    height: 800px;
    border-radius: 300px;
    background-color: wheat;
}

.welcome div{
    display: flex;
    justify-content:space-between;
    background-color: brown;
    padding: 30px;
    border-radius: 50px;
    margin: 10px;
}
.vision{
    text-align: center;
    background-color: wheat;
    padding: 30px;
}
.mission {
    display: flex;
    justify-content: space-around;
    
}
.mission div{
    border: 2px dashed red;
    padding: 20px;
    box-shadow: 5px 5px 5px 4px black;
}
.faculty{
background-color: wheat;
align-items: center;
padding-top: 20px;
}
.faculty1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(240, 105, 105);
    padding-top: 20px;
}

.faculty2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.faculty2 div{
    border: 2px dashed red;
    padding: 20px;
    box-shadow: 5px 5px 5px 4px black;
}

.faculty3{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.faculty3 div{
    border: 2px dashed red;
    padding: 20px;
    box-shadow: 5px 5px 5px 4px black;
}
.choose{
    display: flex;
    justify-content: space-evenly;
    background-color: wheat;
    padding-top: 50px;

}
.choose img{
    border-radius: 300px;
}
.choose h2{
    padding-left: 20px;
border: 2px dashed rgb(101, 9, 221);
box-shadow: 5px 5px 5px 5px black;
}
.education{
    text-align: center;
    background-color: wheat;
    padding-top: 30px;

}
.education1{
    display: flex;
    justify-content: space-evenly;
   
}
.edu0{
    border: 2px dashed blue;
    padding: 10px;
}
.edu1{
    border: 2px dashed blue;
    padding: 10px;
}
.edu2{
    border: 2px dashed blue;
    padding: 10px;
}
.edu3{
    border: 2px dashed blue;
    padding: 10px;
}

.footer{
    background-color: wheat;
    
}
.f1{
    display: flex;
        flex-wrap: wrap;

    background-color: rgb(236, 73, 81);
    
    justify-content: space-around;
    align-items: center;
    text-align: left;
    color: aliceblue;
}
.f1 button{
    padding-left: 30px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-top: 10px;
    border-radius: 50px;
    font-size: large;
    color: rgb(3, 1, 15);
    background-color: rgb(203, 245, 207);
}
.f2{
    display: flex;
    justify-content: space-evenly;
}

