body{
    background-color: rgb(196, 237, 247);
}
.h1{
    color: rgb(204, 11, 11);
    text-align: center;
    font-size: 50px;
    text-decoration: underline rgb(53, 32, 235) dashed;
}
.head
{
    word-spacing: 20px;
    letter-spacing: 20px;
}
.para{
    line-height: 25px;
}
.head2{
    text-transform: capitalize;
    text-shadow:5px 5px 2px rgb(123, 124, 177);
}